In [1]:
import pandas as pd

In [2]:
dict = {'Maths' : [87, 91, 97, 95],
        'Science' : [83, 99, 84, 76]}
df = pd.DataFrame(dict)
df

   Maths  Science
0     87       83
1     91       99
2     97       84
3     95       76

In [3]:
display(df)

   Maths  Science
0     87       83
1     91       99
2     97       84
3     95       76

In [4]:
df1 = df.style.set_caption('test').set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'black'),
        ('font-size', '18px')
    ]
}])

In [5]:
df1.to_html('/tmp/test.html')

In [6]:
import dataframe_image as dfi

ModuleNotFoundError: No module named 'dataframe_image'